// /* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

// /* Importing Datepicker SCSS file. */
// @import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


@import "node_modules/bootswatch/dist/journal/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/journal/bootswatch";


.vw-5 {
  width: 5vw;
}

.vw-10 {
  width: 10vw;
}

.vw-15 {
  width: 15vw;
}

.vw-20 {
  width: 20vw;
}

label.xng-breadcrumb-trail.ng-star-inserted {
  color: orange;
}

a.xng-breadcrumb-link.ng-star-inserted {
  text-decoration: none;
}

a {
  cursor: pointer;
}
