<div class="row">

  <div class="col-8">

    <app-stepper
      [firstStepPrevButtonLabel]="'Basket'"
      [prevPageUrl]="Route.BASKET"
      [lastStepNextButtonLabel]="'Checkout'"
      [submitForm]="createOrder"
      (selectionChange)="onSelectionChanged($event)"
    >
      <cdk-step [label]="'Address'" [completed]="addressForm.valid">
        <app-checkout-address [addressForm]="addressForm"/>
      </cdk-step>

      <cdk-step [label]="'Delivery'" [completed]="deliveryForm.valid">
        <app-checkout-delivery [deliveryForm]="deliveryForm"/>
      </cdk-step>

      <cdk-step [label]="'Review'" [completed]="isReviewed">
        <app-checkout-review/>
      </cdk-step>

      <cdk-step [label]="'Payment'">
        <app-checkout-payment/>
      </cdk-step>

    </app-stepper>

  </div>

  <div class="col-4">

    <app-order-totals *ngIf="(basketService.totalsSource$ | async) as totals"
                      [subtotal]="totals.subTotal"
                      [tax]="totals.tax"
                      [deliveryFee]="totals.shipping"
                      [total]="totals.total"
    />

  </div>

</div>
