<section class="d-flex justify-content-center">

  <form class="col-6 text-center mt-4 border rounded-4 p-4"
        [formGroup]="loginForm"
  >
    <h2 class="mb-4">Login</h2>

    <app-input-text [type]="'email'"
                    [abstractControl]="loginForm.get('email')"
                    [label]="'Email'"
                    disabled
    />

    <app-input-text [type]="'text'"
                    [abstractControl]="loginForm.get('password')"
                    [label]="'Password'"
    />

    <input type="submit"
           class="btn btn-lg btn-success w-100"
           value="Login"
           (click)="login()"
           [disabled]="loginForm.invalid"
    >

  </form>

</section>
