<div class="btn-group z-10 position-relative" dropdown>

  <button dropdownToggle>
    <i class="fa fa-user-circle fa-2x"></i>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">

    <li role="menuitem">
      <a class="dropdown-item z-10" [routerLink]="Path.PROFILE">
        <i class="fa fa-user me-4"></i> Profile
      </a>
    </li>

    <li class="dropdown-divider"></li>

    <li role="menuitem">
      <a class="dropdown-item z-10" [routerLink]="Path.BASKET">
        <i class="fa fa-shopping-cart me-4"></i> Basket
      </a>
    </li>

    <li class="dropdown-divider"></li>

    <li role="menuitem">
      <a class="dropdown-item z-10" [routerLink]="Path.ORDERS">
        <i class="fa fa-th-list me-4"></i> Orders
      </a>
    </li>

    <li class="dropdown-divider"></li>

    <li role="menuitem">
      <a class="dropdown-item z-10" (click)="logout()">
        <i class="fa fa-sign-out me-4"></i> Log out
      </a>
    </li>

  </ul>

</div>
