<ng-container *ngIf="(basketService.productItemsSource$ | async) as basketItems; else noBasketItems">

  <div class="container">

    <h2 *ngIf="basketItems?.length === 0; else basketDetails">

      There are no items in your basket

    </h2>

    <ng-template #basketDetails>

      <app-basket-summary/>

      <div class="d-flex mt-5 ms-3 text-center">

        <div class="col-6 offset-6">

          <app-order-totals *ngIf="(basketService.totalsSource$ | async) as totals"
                            [subtotal]="totals.subTotal"
                            [tax]="totals.tax"
                            [deliveryFee]="totals.shipping"
                            [total]="totals.total"
          />

          <button class="btn btn-outline-success w-100 fs-4"
                  routerLink="/checkout"
          >
            Proceed to Checkout
          </button>

        </div>

      </div>

    </ng-template>

  </div>

</ng-container>

<ng-template #noBasketItems>

  <h2>

    There are no items in your basket

  </h2>

</ng-template>
